version: "3"

volumes:
  data:

services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:2.33.4-alpine
    ports:
      - 8000:8000
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - data:/data
    restart: always
